/* On applique une couleur sur les titres */
h1{
    font-weight: 800;
    text-transform: capitalize;
}

/* Import de la font  depuis Google Fonts et on l'applique sur tous les éléments de la page */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body * {
   font-family: 'Syne', sans-serif;
}


/* NAV BAR & LOGO  */


.ast-builder-grid-row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column-gap: 20px;
    overflow-wrap: anywhere;
    
    height: 80px;
}



a.menu-link {
  margin: 10px;

}

li .menu-item-14 .menu-item .menu-item-type-post_type .menu-item-object-page .current-menu-item .page_item .page-item-11 .current_page_item .menu-item-14 {
  color: white;
}
.menu-item-14 {
  color: white;  
}

#menu-item-14 {
  background-color: #DC9F96 !important;
}

#menu-item-14:hover {
  background-color: #C02E44 !important;
}

#menu-item-14 a {
  color: white;
}

.main-header-menu .menu-item:nth-child(2) {
  background-color: #DC9F96 !important;
  width: 210px; 
  height: 80px;
}

.main-header-menu .menu-item:nth-child(2) .menu-link {
  color: white
}

#ast-hf-menu-1 li:nth-child(2) {
  order: 2;
}

.ast-container, .ast-container-fluid {
  
  padding-left: 0px;
  padding-right: 0px;
}


/* Mise en forme Page Accueil*/

.ast-single-post.ast-page-builder-template .site-main > article, .woocommerce.ast-page-builder-template .site-main {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.ast-page-builder-template .entry-content[ast-blocks-layout] > *, .ast-page-builder-template .entry-content[ast-blocks-layout] > .alignfull > * {
  max-width: none;
  
}


/* Mise en forme Page Admin*/

/* Mise en forme Page Nous rencontrer*/

/* Mise en forme Page Commander*/

/* FOOTER */
footer .site-info a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
  color: black;
  background-color: #ffffff;
}

.uagb-heading-text {
font-family: 'Syne';
font-style: normal;
}

.uagb-inline-editing {
  padding-bottom: 80px;
}